/*

< 주 의 사 항 >

"공통" 부분은 되도록이면 수정하지 않는 것을 추천드립니다.
폰트, 자간, 글자 높이, 배경 색상 등 웹 디자인의 기초적인 부분이 들어있기 때문입니다.

그리고 css 속성을 입력하실 때, 태그 간의 부모-자식 관계를 전부 적어주셨으면 합니다.
예를 들어 container1 태그 안에 textbox, textbox 태그 안에 text1 이라는 텍스트가 있다고 할 때..

.container1 .textbox .text1 ---> Good
.text1 ---> Hmm..

부모-자식 관계가 명확히 나타나있어야 태그끼리 속성이 겹치지 않고, 나중에 수정할 때 확인하기도 용이해서 그렇습니다.

*/

/* 공 통 */

@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
}

body,
th,
td,
input,
select,
textarea,
button {
    font-size: 1.6rem;
    letter-spacing: -0.025em;
    line-height: 1.4;
    font-family: Pretendard, 'applesdgothicneo-light', 'Malgun Gothic', '맑은 고딕';
    font-weight: 300;
}

body {
    background-color: #f7f7fb;
}

@media (max-width: 1440px) {
    body {
        font-size: 1.2rem;
    }
}

/* 헤 더 : 이단규 */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
    height: 80px;
    flex-wrap: wrap;
    overflow: hidden;
}

/* 왼쪽 */
.left {
    margin: 23px 0px 23px 130px;
    font-size: 24px;
    font-weight: 700;
    color: #111111;
}

/* 가운데 */
.center {
    font-size: 16px;
    font-weight: 500;
    color: #505050;
}

.center span {
    margin: 29px 30px;
    font-size: 16px;
    font-weight: 500;
    color: #505050;
}
/*오른쪽*/
.right {
    display: flex;
    gap: 12px;
    margin: 19px 130px 19px 0px;
}

.right button {
    font-size: 16px;
    font-weight: 500;
    border-radius: 8px;
    padding: 10px 20px;
}
.right :first-child {
    background-color: #ffffff;
    color: #111111;
    border-radius: 8px;
    border: 1px solid #e5e5ec;
}

.right :nth-child(2) {
    background-color: #111111;
    color: #ffffff;
    border: none;
}

/* 컨테이너 1 : 이우성 */
.container1 {
    position: relative;
    display: flex;
    width: auto;
    height: 750px;
}

.textbox1 {
    position: absolute;
    margin-left: 130px;
    margin-top: 256px;
    z-index: 2;
    text-align: left;
}

.textbox1 h1 {
    font-size: 48px;
    font-weight: 700;
    color: #111;
    margin-bottom: 10px;
}

.textbox1 p {
    font-size: 20px;
    font-weight: 500;
    color: #767676;
    margin-bottom: 24px;
}

.galbutton {
    background: #111;
    color: #fff;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 600;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.container1 .imagebox {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.container1 .imagebox .image-top {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 2;
    background: linear-gradient(
        180deg,
        rgba(247, 247, 251, 1) 0%,
        rgba(247, 247, 251, 0) 25%,
        rgba(247, 247, 251, 0) 75%,
        rgba(247, 247, 251, 1) 100%
    );
}

.container1 .imagebox .image-bottom {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

/* 컨테이너 2 : 정다경 */
.container2 {
    width: auto;
    height: 950px;
    position: relative;
    display: flow-root;
}

.container2_texts {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.container2_text1 {
    font-size: 32px;
    font-weight: 700;
    color: #111111;
    margin-top: 100px;
}

.conatiner2_text2 {
    font-size: 20px;
    font-weight: 500;
    color: #767676;
}

.container2_main_img {
    position: absolute;
    top: 383px;
    left: 50%;
    z-index: 1;
    transform: translateX(-50%);
    width: 1300.528px;
}

.container2_img_shadow {
    position: absolute;
    top: 531px;
    left: 50%;
    z-index: 0;
    opacity: 40%;
    transform: translateX(-50%);
    width: 1091.76px;    
    filter: blur(50.4px);
}
/* 컨테이너 3 : 박윤정 */

/* 컨테이너 4 : 김유민 */

/* 뿌 터 : 이단규 */
.footer {
    display: flex;
    justify-content: left;
    width: 1920px;
    height: 458px;
}

.footer div {
    display: flex;
    flex-direction: column;
    align-items: left;
    font-size: 16px;
    font-weight: 500;
    color: #767676;
    margin-top: 130px;
}

.footer div :first-child {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}

.footer div span {
    margin-bottom: 10px;
}

.dev_info {
    margin-left: 130px;
}

.service {
    margin-left: 150px;
    margin-right: 150px;
}
