.container3 {
    width: 1920px;
    height: 1103px;
    display: flow-root;
}

.container3 .textbox3 .title {
    display: flex;
    font-size: 32px;
    margin: 100px 0px 0px 130px;
    color: #111111;
    font-weight: 700;
    font-family: Arial, sans-serif;
}

.container3 .textbox3 .explain {
    display: flex;
    font-size: 20px;
    margin: 10px 0px 0px 130px;
    color: #767676;
    font-weight: 500;
    font-family: Arial, sans-serif;
}

.container3 .imagebox3 {
    position: relative;
}

.container3 .imagebox3 .big {
    position: absolute;
    margin: 100px 0px 0px 0px;
    box-shadow: 10px 10px 30px 4px rgba(17, 17, 17, 0.25);
}

.container3 .imagebox3 .wave {
    position: absolute;
    margin: 0px 130.33px 683px 988px;
    border-radius: 20px;
    box-shadow: 10px 10px 30px 6px rgba(17, 17, 17, 0.25);
}

.container3 .imagebox3 .city {
    position: absolute;
    margin: 498px 791.92px 100px 130px;
    border-radius: 20px;
}